<!DOCTYPE html>
<html>
  <head>
    <title>show desu</title>
  </head>
  <body>
    Contents
    このページに特定のユーザーの一部の情報と
    正解不正解と
    タイムスタンプを載せる。
    ボタンを押したら隠れていた情報が表示されるようにもする。
    <%= @user.name %>, <%= @user.email %>
  </body>
</html>